:root {
  // ----------------------------
  // font
  // ----------------------------
  --font: 'Noto Sans JP', sans-serif;
  --font-rem: 16;

  // ----------------------------
  // color
  // ----------------------------
  --color-black: #000000;
  --color-white: #ffffff;

  // ----------------------------
  // animation
  // ----------------------------
  --transition: 0.5s;
}
