doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href=root + "assets/css/styles.css")
  body 
    p こんにちは

    img(src=root +"assets/images/sample.jpg", alt="")

    a(href= root + "about") Aboutページへ

  script(type="module", src=root + "assets/js/main.js")
