@font-face {
  font-family: 'Noto Sans JP';
  src: url(/assets/fonts/NotoSansJP-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --font: 'Noto Sans JP', sans-serif;
  --base-font-size: 16px;
  --color-black: #000000;
  --color-white: #ffffff;
  --transition: 0.5s;
}
html {
  background: #555;
  color: #fff;
}
html a {
  color: #fff;
}
