extends /layouts/layout

block var_block
  -
    title = 'about'
    bodyClass = 'about'

block styles
  link(rel="stylesheet", href=root + "assets/css/pages/about/index.css")

block content
  a(href=root) トップページに戻る
